* {margin: 0; padding: 0; font-family: sans-serif; box-sizing: border-box;}
body{
    background: #414141;
}
#tools{
    position: fixed;
}
#container{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    width: 80vw;
    height: 80vh;
    background: #fff;
    touch-action: none;
}
.name{
    padding: 0 10px;
}
.box{
    position: absolute;
    min-width: 45px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.static .box{
    justify-content: center;
}
.dinamic .box{
    justify-content: baseline;
}
.boxheader{
    width: 100%;
    padding: 5px 0;
    cursor: move;
    z-index: 10;
    border-radius: 7px;
    text-align: center;
    touch-action: none;
}
.boxheader:hover{
    background-color: rgb(65, 65, 65, 0.2) !important;
}
.tool{
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#stroke {
    position: absolute;
    top: -5px;
    left: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
#stroke::-webkit-color-swatch {
    border: none;
}
#stroke::-moz-color-swatch {
    border: none;
}
.static .box{
    position: fixed;
    bottom: 15px;
}
#boxleft{
    left: 15px;
}
#boxright{
    right: 15px;
    max-width: 45px;
}
#boxright input{
    text-align: center;
    width: 100%;
    background: none;
    border: none;
}

.surface{
    background: rgba(252, 252, 252, 0.85);
    background-blend-mode: normal, luminosity;
    backdrop-filter: blur(30px);
    padding: 5px;
}
.border{
    border: 1px solid rgba(0, 0, 0, 0.0578);
    border-radius: 7px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
}
.highlight{
    background: rgb(65, 65, 65, 0.65);
    position: absolute;
    top: 0;
}
#toolsheader{
    display: none;
}

#brushes .tool{
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
input[type="range"] {
    position: fixed;
    left: -13.5px;
    transform: rotate(270deg);
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 100px;
    overflow: hidden;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.0578);
    border: 1px solid rgba(0, 0, 0, 0.0578);
}
input[type="range"]::-webkit-slider-thumb {
    transform: rotate(90deg);
    width: 40px;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    background-image: url(brush.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 340px 0 320px rgba(0, 95, 184, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.0578);
    border-radius: 50%;
    position: relative;
}

@media (horizontal-viewport-segments:2) {
    #toolsheader{
        display: block;
    }
    #brushesheader, #colorsheader{
        display: none;
    }
    #tools {
        height: 100vh;
        width: env(viewport-segment-right 0 0);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        user-select: none;
    }
    .dinamic {
        display: flex;
        flex-direction: row;
    }
    .dinamic .box{
        position: relative;
        width: 100%;
    }
    .highlight{
        height: 100vh;
    }
    .name{
        padding: 5px;
        align-self: stretch;
    }

    #brushes .tool{
        width: 100%;
        height: auto;
    }
    input[type="range"] {
        position: static;
        transform: none;
        width: 100%;
    }
    input[type="range"]::-webkit-slider-thumb {
        transform: none;
        box-shadow: -340px 0 0 320px rgba(0, 95, 184, 0.8);
    }
}
@media (vertical-viewport-segments:2) {
    #toolsheader{
        display: block;
    }
    #brushesheader, #colorsheader{
        display: none;
    }
    #tools {
        height: env(viewport-segment-height 0 0);
        width: env(viewport-segment-width 0 0);
        position: absolute;
        left: 0;
        top: 0;
        user-select: none;
    }
    .dinamic {
        display: flex;
        flex-direction: row;
    }
    .dinamic .box{
        position: relative;
        width: 100%;
    }
    .highlight{
        height: env(viewport-segment-height 0 0);
    }
    .name{
        padding: 5px;
        align-self: stretch;
    }

    #brushes .tool{
        width: 100%;
        height: auto;
    }
    input[type="range"] {
        position: static;
        transform: none;
        width: 100%;
    }
    input[type="range"]::-webkit-slider-thumb {
        transform: none;
        box-shadow: -340px 0 0 320px rgba(0, 95, 184, 0.8);
    }
}